{% from "macros/_form.html" import render_form %}

{% set page_title = 'Dashboard' %}

{% extends 'layouts/base.html' %}
<style>

</style>
{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-6 offset-3">
        {{ render_form(url_for('tasks.add_task'), task_form)}}
      </div>
    </div>
  </div>

<div class="row">
<div class="card">
     <img src="https://previews.dropbox.com/p/thumb/ABcskKG2ElpfZTBiFzMiR9vwPZ_sU016Nsjab7SlBzVH7XpEyOjSH2t_B14TwFcE012F4glTpo0Aap4O7836VYpFb_IZvmeqe6Sry__oxalsXuiBVOIOniJNhu8-5gCmbgmFhGiPy0U_hTQx76nd3UjhWOPIBU4gKCZNXfcAuaE_mVpQrG4TL9b9TsS0rq1RM06V2F9EHQ7Zurr3WVgd5qFjflh3_g_txnF48q-Skmpr7Pj7ZX4Gtky3yBSLeO5Gq3ngDBOS0X5uU0tPxHvvgl139t8Okl-0TMAHDnq8Z-QR3TQ0tMLdV7f7Ypr6S8WSBi-UJ-8oRCfdfxKW3MkqWhmz736UMp8mQE0BWHvTeVxJfg/p.jpeg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>
       <div class="card">
     <img src="roof.jpg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>
       <div class="card">
     <img src="roof.jpg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>

       <div class="card">
     <img src="roof.jpg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>
      </div>
</div>

{% endblock %}
