{% from "macros/_form.html" import render_form %}

{% set page_title = 'Dashboard' %}

{% extends 'layouts/base.html' %}

{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-6 offset-3">
        {{ render_form(url_for('tasks.add_task'), task_form)}}
      </div>
    </div>
  </div>

<div class="row">
<div class="card">
     <img src="/dashboard/roof.jpg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>
       <div class="card">
     <img src="roof.jpg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>
       <div class="card">
     <img src="roof.jpg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>

       <div class="card">
     <img src="roof.jpg" style="width: 100%;" />
     <h1>John Doe</h1>
     <p class="title">2102 SW Mayflower Drive</p>
     <p class="title">Palm City, FL 34990</p>
     <p>$23,000</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <p><button>772-320-8591</button></p>
   </div>
      </div>
</div>

{% endblock %}
